@font-face {
  font-family: "Super-Mario-World";
  src: url(/fonts/SuperMarioWorldTextBoxRegular-Y86j.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Super-Mario-World", sans-serif;
}

body,
html {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.logo {
  position: absolute;
  width: 130px;
  left: 50px;
  padding: 0;
  top: 5px;
}

#botao {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 150px;
}

#botao button {
  position: absolute;
  top: 220px;
  left: 600px;
  width: 100%;
  padding: 5px 5px;
}

#menu {
  position: relative;
  background: #000;
  text-align: center;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-size: 15px;
  color: #fff;
  transition: 500ms background;
}

#menu ul li:last-child a {
  float: right;
}

#menu ul li a:hover {
  background: #fff;
  color: #000;
}

#container {
  position: relative;
  width: 100vw;
  min-height: 602px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container video {
  position: absolute;
  width: 1360px;
  min-height: 100%;
  height: 600px;
  min-height: 100%;
  object-fit: fill;
}

#container .startplayer {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  margin-top: 100px;
  animation: press-start 1s infinite;
  font-size: 40px;
  text-decoration: none;
  transition: 2s;
  display: none;
}

#container .show {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  margin-top: 100px;
  animation: press-start 1s infinite;
  font-size: 40px;
  text-decoration: none;
  transition: 2s;
  display: block;
}

#container .startplayer:hover {
  animation: none;
  color: #020202;
  text-decoration: underline;
  transition: 2s;
}

@keyframes press-start {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

#container .playerone {
  position: absolute;
  margin-top: 80px;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  font-weight: normal;
  text-shadow: 2px 2px 0 #000000;
}

#container .playertwo {
  position: absolute;
  margin-top: 160px;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  font-weight: normal;
  text-shadow: 2px 2px 0 #000000;
}

.simularHover {
  color: #000;
  text-shadow: 2px 2px 0 #ffffff;
}

.playerone-hover {
  color: #000;
  text-shadow: 2px 2px 0 #ffffff;
}

.playertwo-hover {
  color: #000;
  text-shadow: 2px 2px 0 #ffffff;
}

#container .playerone:hover {
  color: #000;
  text-shadow: 2px 2px 0 #ffffff;
}

#container .playertwo:hover {
  color: #000;
  text-shadow: 2px 2px 0 #ffffff;
}

#container .hidden {
  display: none;
}

#container-footer {
  position: relative;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
}

#container-footer p {
  color: #ffffff;
}

#container-footer p span {
  color: #00ff2a;
}

#container-footer p a {
  color: #00ff2a;
  text-decoration: none;
}

#container-footer p a:hover {
  text-decoration: underline;
  color: #f11c1c;
  animation: site-oficial 1s infinite linear;
}

@keyframes site-oficial {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
